@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff");
}

.main {
    margin-top: 80px;
  width: 100%;
}

.main__heading {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.main__heading_cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  clip-path: polygon(calc(83% - 180px) 0, 100% 0, 100% 100%, calc(54% - 180px) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.219) 30%,
    rgba(255, 255, 255, 0.712) 100%
  );
}

.main__heading_title {
  position: absolute;
  color: black;
  font-family: "Cabinet Grotesk Bold";
  right: 40px;
  bottom: 10px;
  z-index: 3;
}

.main__heading_subtitle {
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 3;
}

.main__heading_chef-hat {
  background-image: url(../../assets/chefhat_icon.png);
  z-index: 3;
  width: 100px;
  height: 100px;

  background-repeat: none;
  right: 40px;
  top: 24px;
  background-position: center;
  background-size: cover;
  border: 0px;
  position: absolute;
}
