.new-tab-overlay{
    visibility: hidden;
    z-index: 10;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
}

.new-tab-overlay__text{
    font-size: 30px;
    background-color: rgba(47, 113, 229, 1);
    color: white;
    padding: 20px;
    border-radius: 50px;
}