@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff");
}

.footer {
  margin: 40px 40px;

  display: flex;
}

.footer__logo {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.3;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
}

.footer__logo:hover {
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

.footer__copyright {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0 0 0 auto;
  opacity: 0.3;
}

.footer__copyright:hover {
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}
